
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color:#F8F9FA;
}

.header{
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border : 3px solid #007BFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name-text {
    font-size: 42px;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-info {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}